body {
background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
background-size: 600% 600%;
animation: gradient 15s ease infinite;
}
  
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
          background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
    }
}
body {
    font-family: 'Times New Roman', Times, serif;
}
h2 {
    color: white;
}
header {
    height: 70px;
    margin: 0 auto;
    width: 50%;
    position: relative;
}
#logo {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: bold;
    line-height: 100px;
    font-size: 24px;
    float: left;
}
a {
    text-decoration: none;
    color: aqua;
}
.files {
    color: white;
}
.vka {
    margin-top: 0px;
}
.flex-text {
    color: white;
}
p {
    color: white;
}
.bt {
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border: 3px solid white;
    background-color: white;
}
.bt:hover {
    background-color: #e73c7e;
    border: 3px solid #e73c7e;
    color: white;
}
.photo {
    width: 280px;
    margin-top: 20px;
    border-radius: 20px;
}
.t1 {
    text-align: center;
    margin-top: 40px;
    font-size: 22px;
}
.info3 {
    width: 100%;
    text-align: center;
}
.info1 {
    margin-top: 80px;
    opacity: 0; /* начальное значение непрозрачности */
    animation: fadeIn ease-in 1; /* добавляем анимацию fadeIn */
    animation-fill-mode: forwards; /* будет видимым после завершения анимации */
    animation-duration: 1s; /* длительность анимации в 1 секунду */
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .info2 {
    opacity: 0; /* начальное значение непрозрачности */
    animation: fadeIn ease-in 1; /* добавляем анимацию fadeIn */
    animation-fill-mode: forwards; /* будет видимым после завершения анимации */
    animation-duration: 1s; /* длительность анимации в 1 секунду */
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
:root {
    scroll-behavior: smooth;
}
#toggle_btn {
    color: white;
    cursor: pointer;
    display: none;
    margin-left: -300px;
}
.forms {
    margin-top: 50px;
    font-size: 20px;
}
.i2 {
    text-decoration: underline;
}
textarea {
    width: 250px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    height: 70px;
}
#teh_zadan {
    height: 120px;
}
.flex-elem {
    width: 300px;
    height: 400px;
    margin-top: 20px;
    text-align: center;
    border: 3px solid #106E83;
    border-radius: 40px;
    text-decoration: none;
}
.flex-container {
    display: flex;
    width: 1000px;
    height: 400px;
    margin-top: 50px;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.text {
    margin-top: 40px;
    font-size: 24px;
    margin-left: 200px;
    text-align: center;
    max-width: 570px;
}
.text1 {
    margin-top: 40px;
    font-size: 24px;
    margin: 0 auto;
    text-align: left;
    max-width: 700px;
}
.text2 {
    margin-top: 40px;
    font-size: 24px;
    margin-left: 200px;
    text-align: center;
    max-width: 570px;
}
input {
    width: 230px;
    height: 25px;
}
.inp:hover {
    background-color: rgb(161, 161, 207);
    border: 3px solid rgb(161, 161, 207);
}
.inp:active {
    background-color: rgb(161, 161, 207);
    border: 3px solid rgb(161, 161, 207);
}
.inp {
    border: 3px solid white;
    border-radius: 20px;
    padding: 5px;
    padding-left: 15px;
}
.texa {
    border: 3px solid white;
    border-radius: 20px;
    padding: 15px;
    padding-left: 15px;
}
.texa:hover {
    background-color: rgb(161, 161, 207);
    border: 3px solid rgb(161, 161, 207);
}
.i {
    text-decoration: none;
    color: white;
    text-align: center;
}
form {
    text-align: center;
}
.form {
    margin-top: 20px;
}
.i1 {
    text-decoration: none;
    color: white;
    text-align: center;
}
#mainnav ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    text-align: center;
}
#mainnav li {
    display: inline;
    margin: 40px;
    font-size: 24px;
}
#mainnav a {
    text-decoration: none;
    color: white;
}
#mainnav a:hover {
    color: green;
    text-decoration: none;
}
main{
    padding-top: 70px;
    padding-bottom: 100px;
    width: 1040px;
    margin: 0 auto;  
}
.active {
    font-size: 28px;
}
#mainnav li.active a {
    color: purple;
    font-size: medium;
}
#mainnav {
    text-transform: uppercase;
    text-decoration: none;
    line-height: 100px;
    font-size: 24px;
    float: right;
}
.dropdown_menu {
    display: none;
    position: absolute;
    left: 2rem;
    top: 80px;
    height: 0;
    margin-left: -50px;
    width: 300px;
    background-color: #106E83;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    transition: height 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open {
    height: 200px;
}
.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width:720px) {
    .litop {
        display: none;
    }
    .text2 {
        margin-left: 100px;
    }
    header {
        width: 90%;
    }
    main {
        font-size: 10px;
        margin-left: 0px;
        width: 325px;
    }
    #toggle_btn {
        display: block;
        margin-top: 40px;
        margin-left: 0px;
        margin-right: 350px;
    }
    .i {
        margin-left: 80px;
    }
    .flex-container {
        width: 800px;
    }
    .flex-elem {
        font-size: 18px;
    }
    .text1 {
        margin-left: 80px;
        width: 600px;
        text-align: center;
    }
    .info2 {
        width: 350px;
        margin-top: 20px;
        margin: 0 auto;
        font-size: 12px;
    }
    .dropdown_menu {
        display: block;
    }
    body {
        background: none;
        background-color: rgb(191,82,144);
    }
    .info1 {
        margin-top: 150px;
        margin: 0 auto;
        margin-left: -60px;
        text-align: center;
        width: 350px;
    }
}
